<section class="sobremi container">
    <h1 class="text-center mb-4"> Sobre mí </h1>
    <p>
        Quizas te diste cuenta que la imagen del banner no tiene nada que ver con la programación. Es porque ademas de ser autodidacta en el mundo de la tecnologia lo soy en el oficio de serigrafia, este trayecto me enseño mucho.
    </p>

    <p>
        El haber transitado la autogestión y el emprendedurismo  me enseñó la familiaridad con la creatividad, la innovación, el liderazgo, la autonomía personal, la cooperación y el trabajo en equipo, así como también la capacidad de idear, gestionar y llevar a cabo proyectos, transformando ideas desde de un plano mental a uno material.
    </p>
    <p>
        En el último año (2022) encontré que todas estas habilidades me ayudarían para comenzar el camino del desarollo web, mientras descubro mas sobre este medio te invito a recorre esta página.
    </p>
    <div class="redes text-center">        
        <h4>Me podes encontrar en:</h4>
        <a href="#">Linkedin</a>
        <a href="#">GitHub</a>
    </div>
</section>